.parentDiv {
    
    position:fixed;
    min-height:100%;
    width: 10%;
    margin-left:-7%;
    background-color: rgba(250,25,25,0.3);
    z-index:0;
    left: 0px;
    top: 0px;
    
}

.parentDiv:hover {background-color: rgba(250,25,25,0.7);
                transition-property: background;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                }
.parentDiv::after {display: none}

#rotate { text-align: right;
          position: relative;
          padding-top: 75%;
        font-family: sans-serif;
        font-weight: 700;
          color:#000000 ;
        /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   
}

