/*THIS IS THE CSS FOR LAB.NEOSOLVE*/

<!--list-style: {"nobullets"}-->
body {text-align: center;
      font-family: Hobo Std;
      color:yellow; }

h3 {font-size: 30px;
    text-align:center;
    font-size: 30px; 
    color:yellow;
}

a {color:yellow;
    text-decoration:none;
    }

a:hover {color: #E99AA3;
}

ul {list-style: none}

h3 span:hover {color: rgba(233, 154, 163,1);
               transition-property:all;
               transition-duration: .6s;
               transition-delay: 2s;
               transition-timing-function: ease-in-out;
                }

.st-content {background-color: #993366}

img {width:  20%; height: 20%}

.mp-menu a {
	text-decoration: none;
	color: #660000;
	outline: none;
}

.mp-menu a:hover, a:focus {
	color: yellow;
	outline: none;
}

.mp-level {background-color: #E99AA3}

#pages-lab {background-color: #95CC87}

                